<script type="text/ng-template" id="customTemplate.html">
  <a>
    <span class="autocompleTitle" bind-html-unsafe="match.model.title | typeaheadHighlight:query"></span><br>
	<span class="autocompleteField">ISBN10 : </span><span class="autocompleteValue" bind-html-unsafe="match.model.isbn10 | typeaheadHighlight:query"></span>
	<span class="autocompleteField">ISBN13 : </span><span class="autocompleteValue" bind-html-unsafe="match.model.isbn13 | typeaheadHighlight:query"></span><br>
	<span class="autocompleteField">Publisher : </span><span class="autocompleteValue" bind-html-unsafe="match.model.publisher | typeaheadHighlight:query"></span>
	<span class="autocompleteField">BookID : </span><span class="autocompleteValue" bind-html-unsafe="match.model.guid | typeaheadHighlight:query"></span><br>
	<span class="autocompleteField">Authors : </span><span class="autocompleteValue" bind-html-unsafe="match.model.authors.toString() | typeaheadHighlight:query"></span>
  </a>
</script>


<wizard on-finish="finishWizard()"
	template="views/usersettings/startupWizardTemplate.html"> <wz-step
	title="Discipline" canenter="enterDiscipline" canexit="exitDiscipline">

<div class="row"
	style="vertical-align: middle; middle; margin-top: 20px;">
	<div class="col-lg-5">
		<div class="instructionsHeader">Pick the
			discipline(s) on the right in which you create tests</div>
		<div>
			<ul class="a">
				<li class="discription">Publisher question banks in these
					disciplines will become available to you.</li>
				<li class="discription">Can select multiple disciplines.</li>
				<li class="discription">To deselect a discipline, select it
					again.</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-7">
		<div class="row">
			<div class="col-lg-12" style="margin-left: 10px;">
				<div class="searchPanel">
					<input type="text" placeHolder="Search Discipline"
						class="searchDiscpline" ng-model="searched"
						typeahead="discipline for discipline in disciplines.all.sort() | filter:$viewValue"
						ng-keyup="searchedDiscipline($event)"> <span
						class="searchIcon" ng-click="searchedDisciplineOnClick()"
						tooltip="Search" tooltip-placement="bottom"></span>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-lg-12">
				<div class="disciplineContainer" resize>
					<div data-ng-repeat="discipline in disciplines.all.sort()"
						ng-click="selectDiscipline(this)"
						ng-class="{selectedDisc: isSelectedDiscipline(this)}">
						<div class="discplineText">{{discipline}}</div>
						<hr style="margin-bottom: 0px; margin-top: 0px;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</wz-step> <wz-step title="Books" canenter="enterBook">
<div class="row"
	style="vertical-align: middle; middle; margin-top: 20px;">
	<div class="col-lg-5">
		<div>
			<ul class="a">
				<li class="discription">Pick the textbooks or topics on the
					right from which you create tests.</li>
				<li class="discription">Topics are Question banks drawn from
					multiple resources.</li>
				<li class="discription">You can select more than one textbook
					by clicking or tapping multiple selections. Tap again to deselect.</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-7">
		<div class="row">
			<div class="col-lg-12" style="margin-left: 10px;">
				<div class="searchPanel" resize>
					<input type="text"
						placeHolder="Enter title, author, publisher, bookid or ISBN"
						class="searchBook" ng-model="searchedBook"
						placeholder="Custom template"
						typeahead-template-url="customTemplate.html"
						typeahead="book.title for book in books.all | searchFields:$viewValue"
						ng-keyup="searchedBookOnEnter($event)"> <span
						class="searchIcon" ng-click="searchedBookOnClick()"
						tooltip="Search" tooltip-placement="bottom"></span>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-lg-12">
				<div class="bookContainer">
					<div data-ng-repeat="discipline in disciplineBooks">
						<div class="discplineText1" style="font-weight: bold;">{{discipline.name}}</div>
						<hr
							style="Border: 1px solid #E8E8E8; margin-bottom: 0px; margin-top: 0px;">

						<div data-ng-repeat="book in discipline.books"
							ng-click="selectBook(book.guid,discipline.name)"
							ng-class="{selectedDisc: book.isSelected}"
							ng-show="book.showEdition" parentbookid="{{book.parentBookID}}">
							<div
								style="float: left; margin-right: 5px; vertical-align: middle; margin-top: 7px; background-color: #FFFFFF;"
								ng-show="book.hasEdition"
								ng-click="showOldEdition(book.guid,discipline.name)">
								<img alt="Editions" id="{{book.guid}}" src=""
									ng-class="book.isCollasped?'collapseBookEdition':'expandBookEdition'">
							</div>
							<div class="discplineText" style="margin-left: 20px;">
								{{book.title}}</div>
							<hr style="margin-bottom: 0px; margin-top: 0px;">
						</div>
						<div style="height: 30px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</wz-step>