<div class="ng-scope" style="
    padding: 10px;">
	<input type="button" x-ng-class="{'selected': var=='disciplines'}" 
	onclick="location.href='#/usersettings/disciplines'" value="Disciplines" class="btn btn-primary">

	<input type="button" x-ng-class="{'selected': var=='books'}" 
	onclick="location.href='#/usersettings/books'" value="Books" class="btn btn-primary">
		
	<input type="button" x-ng-class="{'selected': var=='questionmetadata'}"
	onclick="location.href='#/usersettings/questionmetadata'" value="Question Metadata" class="btn btn-primary">
	
	<input type="button" x-ng-class="{'selected': var=='printsettings'}"
	onclick="location.href='#/usersettings/printsettings'" value="Print Settings" class="btn btn-primary">		
</div>