<div id="leftPanel" class="leftPanel">
	<div class="resource">
		<span class="resource">Resources</span>
		<span class="download"></span>
	</div>

	<div x-ng-include="'views/partials/tabs.htm'" onload="var='publisherTests'"></div>
	
	<div class="filter">
		<div class="filterQuest">
			<span>&#10148;</span><span>Filter Questions</span>
		</div>
		<input type="search" placeHolder="Search Topic" class="searchTopic">
	</div>
	
	<div x-ng-include="'views/partials/disciplineFilter.htm'"></div>	

	<div class="testContainer">
		
		<script type="text/ng-template" id="discipline_renderer.html">
          <div ui-tree-handle class="tree-node tree-node-content">
			<div class="treeDiv"  >
				<div class="maindiv">
					<div class="imagediv">
						<input ng-click="getBooks(this)" type="image" class="collapseImg" src="images/right_arrow2.png" ></input>
					</div>
					<div class="captiondiv">
						<label class="captionLabel" >{{node.item}}</label> 
					</div>
				</div>
			 </div>                          
          </div>
			
          <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" collapsed="true" ui-tree-node ng-include="'book_renderer.html'">
            </li>
          </ol>		
        </script>
        <script type="text/ng-template" id="book_renderer.html">  		                       
          <div ui-tree-handle class="tree-node tree-node-content">
			<div class="treeDiv"  >
				<div class="maindiv">
					<div class="imagediv">
						<input ng-click="getTests(this)" type="image" class="collapseImg" src="images/right_arrow2.png" ></input>
					</div>
					<div class="captiondiv">
						<label class="captionLabel" >{{node.title}}</label> 
					</div>
				</div>
			 </div>                          
          </div>
			
          <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" collapsed="true" ui-tree-node data-nodrag ng-include="'tests_renderer.html'">
            </li>
          </ol>
        </script>
		<script type="text/ng-template" id="tests_renderer.html">
          <div ui-tree-handle class="tree-node tree-node-content">
			<div class="treeDiv"  >
				<div class="maindivChapter">
					<div class="imagediv">
						<input ng-click="getTest(this)" type="image" class="collapseImg" src="images/right_arrow2.png" ></input>
					</div>
			    	<div class="captiondiv">
						<label class="captionLabel" >{{node.title}}</label> 	
					</div>	
					<div  class="iconsChapter" ng-class="{hidden: collapsed}">
						<span class="printChapter" download="ss.pdf" ng-click="printDOC(node.guid)"></span>
						<span class="printChapter" download="ss.pdf" ng-click="printANSSame(node.guid)"></span> 
						<span class="printChapter" download="ss.pdf" ng-click="printANS(node.guid)"></span> 
						<span class="printChapter" download="ss.pdf" ng-click="printPDF(node.guid)"></span>
						<span class="printChapter" download="ss.pdf" ng-click="printPDFANSSame(node.guid)"></span>
						<span class="printChapter" download="ss.pdf" ng-click="printPDFANS(node.guid)"></span> 
						<span class="editChapter"></span>       
					</div>
				 </div>				
			</div>                          
          </div>
			<ol ui-tree-nodes="" type="1" ng-model="node.nodes" class="questIndex" ng-class="{hidden: collapsed}">
          
            <li ng-repeat="node in node.nodes" collapsed="true" ui-tree-node data-nodrag ng-include="'questions_renderer.html'">
            </li>
          </ol>

        </script>

		<script type="text/ng-template" id="questions_renderer.html">
          <div ui-tree-handle class="printViewContainer tree-node tree-node-content questionList"> 
			<div ng-bind-html="getHTML(this)">
			</div>                        
          </div>
        </script>
        
		<div data-ui-tree id="tree-root" class="publisher_test_scrollbar">
			<ol data-ui-tree-nodes data-ng-model="disciplines">
				<li data-ng-repeat="node in disciplines" data-ui-tree-node
					collapsed="true"
					data-ng-include="'discipline_renderer.html'"></li>
			</ol>
		</div>	
	</div>
</div>

<div id="midPanel" class="midPanel"></div>
<div id="rightPanel" class="rightPanel"></div>
