<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Evalu8 by Pearson</title>
</head>
<body>

<div >
	<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
		<h3 ng-show="!unauthorised">Signing in...</h3>
		
		<div ng-show="unauthorised" style="font-size:16px">
			<div>Only instructors are allowed to use this application.</div>
			<div><a href="" ng-click="logout()">Sign in using different account</a></div>
			<div>Contact <a href="http://247pearsoned.custhelp.com/app/contact">helpdesk</a> if you feel something is wrong.</div>
		</div>
	</div>
</div>
</body>
</html>