

<div class="containerDiv">

<div class="outlineDiv">

	<div class="outlineHeaderText">User Settings</div>

	<p>&nbsp;</p>
	
	<div x-ng-include="'views/partials/userSettingsTabs.htm'" ></div>

		<hr style="border-bottom: 1px solid #933939;">
			
	<div style="padding-left: 20px">
		<div id="divSaveMessage"
			style="margin-top: 21px; margin-bottom: 21px; color: red"></div>

		<div style="padding-top: 15px; padding-bottom: 12px;">
			<b>Select Disciplines</b>
		</div>

		<div style="max-height: 252px; overflow: auto;">
			<div data-ng-repeat="discipline in disciplines.all">
				<div data-ng-show="$index % 2 == 0">
					<div style="clear: left;"></div>
				</div>
				<div class="checkboxDiv">
					<input type="checkbox" data-checklist-model="disciplines.userSelected"
						data-checklist-value="discipline"> </div>
				<div class="checkboxLabelDiv">
					{{discipline}}
				</div>
			</div>
		</div>

		<div style="clear: left;"></div>

		<hr style="border-bottom: 1px solid #933939;">		
		
		<div style="padding-top: 15px; padding-bottom: 12px;">
			<b>Question Details</b>
		</div>

		<div style="max-height: 140px; overflow: auto;">
			<div style="padding-bottom: 12px; font-size: small">Select the
				metadata fields used in the testbank. Instructors can view these
				fields in the testbank and use them to filter the testbank display.</div>


			<div data-ng-repeat="filter in questionMetadata.all">
				<div data-ng-show="$index % 3 == 0">
					<div style="clear: left;"></div>
				</div>
				<div class="checkboxDiv">
					<input type="checkbox"
						data-checklist-model="questionMetadata.userSelected"
						data-checklist-value="filter">
				</div>
				<div class="checkboxLabelDiv">{{filter}}</div>
			</div>
		</div>
		
		<div style="clear: left;"></div>

		<hr style="border-bottom: 1px solid #933939;">

	<div>
		<div style="padding-top: 15px; padding-bottom: 15px;">
			<b>Page Setup</b>
		</div>


			<div style="float: left; padding-right: 81px">

				<div style="padding-bottom: 12px;">Margins:</div>

				<div style="float: left; padding-right: 40px; padding-bottom: 5px;">
					<div style="float: left; width: 35px">Top</div> <select
								name="lstTop" id="lstTop">
									<option selected="selected" value="1.0">1.0</option>
									<option value="1.1">1.1</option>
									<option value="1.2">1.2</option>
									<option value="1.3">1.3</option>
									<option value="1.4">1.4</option>
									<option value="1.5">1.5</option>
									<option value="1.6">1.6</option>
									<option value="1.7">1.7</option>
									<option value="1.8">1.8</option>
									<option value="1.9">1.9</option>
									<option value="2.0">2.0</option>

							</select>
				</div>
				<div>
					<div style="float: left; width: 55px">Bottom</div> <select
								name="lstBottom" id="lstBottom">
									<option selected="selected" value="1.0">1.0</option>
									<option value="1.1">1.1</option>
									<option value="1.2">1.2</option>
									<option value="1.3">1.3</option>
									<option value="1.4">1.4</option>
									<option value="1.5">1.5</option>
									<option value="1.6">1.6</option>
									<option value="1.7">1.7</option>
									<option value="1.8">1.8</option>
									<option value="1.9">1.9</option>
									<option value="2.0">2.0</option>

							</select>
				</div>
				<div style="clear: left;"></div>
				<div style="float: left; padding-right: 40px">
					<div style="float: left; width: 35px">Left</div> <select name="lstLeft" id="lstLeft">
									<option selected="selected" value="1.0">1.0</option>
									<option value="1.1">1.1</option>
									<option value="1.2">1.2</option>
									<option value="1.3">1.3</option>
									<option value="1.4">1.4</option>
									<option value="1.5">1.5</option>
									<option value="1.6">1.6</option>
									<option value="1.7">1.7</option>
									<option value="1.8">1.8</option>
									<option value="1.9">1.9</option>
									<option value="2.0">2.0</option>

							</select>
				</div>
				<div>
					<div style="float: left; width: 55px">Right</div> <select name="lstRight" id="lstRight">
									<option selected="selected" value="1.0">1.0</option>
									<option value="1.1">1.1</option>
									<option value="1.2">1.2</option>
									<option value="1.3">1.3</option>
									<option value="1.4">1.4</option>
									<option value="1.5">1.5</option>
									<option value="1.6">1.6</option>
									<option value="1.7">1.7</option>
									<option value="1.8">1.8</option>
									<option value="1.9">1.9</option>
									<option value="2.0">2.0</option>

							</select>
				</div>


				<div style="padding-top: 25px; padding-bottom: 12px;">Header
					and Footer (space from edge):</div>
				<div>
					<div>
						Header&nbsp;<select
								name="lstHeader" id="lstHeader">
									<option value="0.0">0.0</option>
									<option value="0.1">0.1</option>
									<option value="0.2">0.2</option>
									<option value="0.3">0.3</option>
									<option value="0.4">0.4</option>
									<option value="0.5">0.5</option>
									<option value="0.6">0.6</option>
									<option value="0.7">0.7</option>
									<option value="0.8">0.8</option>
									<option value="0.9">0.9</option>
									<option value="1.0">1.0</option>
									<option value="1.1">1.1</option>
									<option value="1.2">1.2</option>
									<option value="1.3">1.3</option>
									<option value="1.4">1.4</option>
									<option value="1.5">1.5</option>
									<option value="1.6">1.6</option>
									<option value="1.7">1.7</option>
									<option value="1.8">1.8</option>
									<option value="1.9">1.9</option>
									<option value="2.0">2.0</option>
							</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							Footer&nbsp;<select name="lstFooter" id="lstFooter">
									<option value="0.0">0.0</option>
									<option value="0.1">0.1</option>
									<option value="0.2">0.2</option>
									<option value="0.3">0.3</option>
									<option value="0.4">0.4</option>
									<option value="0.5">0.5</option>
									<option value="0.6">0.6</option>
									<option value="0.7">0.7</option>
									<option value="0.8">0.8</option>
									<option value="0.9">0.9</option>
									<option value="1.0">1.0</option>
									<option value="1.1">1.1</option>
									<option value="1.2">1.2</option>
									<option value="1.3">1.3</option>
									<option value="1.4">1.4</option>
									<option value="1.5">1.5</option>
									<option value="1.6">1.6</option>
									<option value="1.7">1.7</option>
									<option value="1.8">1.8</option>
									<option value="1.9">1.9</option>
									<option value="2.0">2.0</option>
							</select>

					</div>
				</div>

				<div style="padding-top: 21px; padding-bottom: 12px;">Format (font and size):</div>

				<div>
					<select name="lstFontStyle" id="lstFontStyle">
						<option value="Times New Roman">Times New Roman</option>
						<option value="Helvetica, Arial">Helvetica, Arial</option>
						<option value="Helvetica">Helvetica</option>
						<option value="Arial">Arial</option>
						<option value="Courier">Courier</option>
					</select> <select name="lstPointSize" id="lstPointSize">
						<option value="8">8</option>
						<option value="10">10</option>
						<option value="12">12</option>
						<option value="14">14</option>

					</select>
				</div>


			</div>

			<div style="float: left;">

				<div style="padding-left: 21px;">
					<input type="checkbox" id="chkmultipleversion"
						data-ng-click="clickMultipleVersions()">&nbsp;Create
					multiple versions &nbsp;<input type="text" id="txtNoOfVersions"
						autocomplete="off" value="1" maxlength="3" onblur="test();"
						style="width: 30px; font-size: 10px"> <select
						id="scrambleOrder">
						<option value="Scramble question order">Scramble question
							order</option>
						<option value="Scramble answer order">Scramble answer
							order</option>
						<option value="Scramble question and answer order">Scramble
							question and answer order</option>

					</select>

				</div>

				<div style="padding-left: 21px; padding-top: 21px;">
					<input type="checkbox" id="includeAreaForStudentResponse"
						data-ng-click="clickIncludeAreaForStudentResponse();">&nbsp;Include
					area for student response
					<div style="padding-top: 7px; padding-left: 15px">
						<input type="radio" id="leftSide" checked="checked"
							onclick="document.getElementById('lastPage').checked = false;"
							disabled>&nbsp;As blank on left side of test
					</div>
					<div style="padding-top: 7px; padding-left: 15px">
						<input type="radio" id="lastPage"
							onclick="document.getElementById('leftSide').checked = false;"
							disabled>&nbsp;On last page of test(separate answer
						sheet)
					</div>
				</div>

				<div style="padding-left: 21px; padding-top: 21px;">
					<input type="checkbox" id="includeAnswerKeyIn"
						data-ng-click="clickIncludeAnswerKeyIn();">&nbsp;Include
					answer key in&nbsp;&nbsp; <input type="radio"
						onclick="document.getElementById('sameFile').checked = false;"
						id="seperateFile" disabled checked="checked">Separate
					file&nbsp;&nbsp; <input type="radio"
						onclick="document.getElementById('seperateFile').checked = false;"
						id="sameFile" disabled>Same file
					<div style="padding-top: 7px; padding-left: 15px">
						<input type="checkbox" id="includeAnwserFeedback" disabled>&nbsp;Include
						answer feedback
					</div>
					<div style="padding-top: 7px; padding-left: 15px">
						<input type="checkbox" id="includeQuestionHints" disabled>&nbsp;Include
						question hints
					</div>
				</div>
			</div>


</div>
		<div style="clear: left;"></div>
		<hr style="border-top: 1px solid #933939;">

		<div
			style="text-align: center; padding-top: 18px; padding-bottom: 18px;">
			<input style="color: #933939;" type=button id="savepref"
				data-ng-click="savePref()" value="Save Settings" />
		</div>
	</div>
</div>

</div>