<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()"
		aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-default-header-title" id="myModalLabel">Settings</h4>
</div>

<div class="modal-body">
	<div class="row"></div>
	<div class="row">
		<div class="col-md-12">
			<section>
				<ul class="nav nav-tabs ng-scope">
					<li ng-class="{'active': activeTab == 'questionBanks'}">
		        		<a class="ng-binding" href="#" ng-click="showQuestionBank(this)">Question Banks</a>
		    		</li>
					<li ng-class="{'active': activeTab == 'metadata'}">
		        		<a class="ng-binding" href="#" ng-click="showMetadata(this)">Metadata</a>
		    		</li>		    		        			        		
				</ul>
				
				<div style="padding-top:15px" ng-show="activeTab == 'questionBanks'">
        		
        			<div class="col-md-12">
        			The Question Banks area provides publisher test banks based on your selections.
        			</div>
        			<div style="padding-top:15px">
        				<ol>
        				<li ng-repeat="discipline in disciplines">
        					<div style="padding-top:20px" class="col-md-12">
        					<div class="text-left col-md-4">Discipline: </div>
        					<div class="text-left col-md-4">{{discipline}} </div>
        					<div class="text-left col-md-4"><span ng-if="$index==0"><a href="#" ng-click="edit(1)">Edit Disciplines </span></a></div>
        				 	</div>
        				 	<ol>
        				 		<li ng-repeat="book in books | filter: {discipline: discipline}">
       				 			<div style="padding-top:12px" class="col-md-12">
	        					<div class="text-left col-md-4"><span ng-if="$index==0">Question Bank(s): </span></div>
	        					<div class="text-left col-md-4">{{book.title}} </div>
	        					<div class="text-left col-md-4"><span ng-if="$index==0"><a href="#" ng-click="edit(2)">Edit Question Banks </a></span></div>
	        				 	</div>
        				 		</li>
        				 	</ol>
        				</li>        				
        				</ol>
        			</div>
        		</div>
        		
        		<div style="padding-top:15px" ng-show="activeTab == 'metadata'">
        		
        			<div class="col-md-12">
        			Select the information you want available when you create questions.
        			</div>
        			<div style="padding-top:15px" class="col-md-5">
        			<ul class="list-group">
        				<li class="list-group-item" ng-repeat="metadata in metadatas">{{metadata}}</li>
        			</ul>        		
        			</div>
        		</div>
        		
			</section>
		</div>
	</div>
	<div class="row" style="border-bottom: 1px solid #ddd; padding-top: 15px;">&nbsp;</div>
	<div class="row" style="padding-top: 12px;">
		<div class="col-md-8"></div>
		<div class="col-md-4 text-right">
			<button>Cancel</button>
			<button>Save</button>
		</div>
	</div>
</div>
