<div class="container-fluid" style="margin-top: 150px;">
	<section>
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<div align="center" class="welcome">
					<div align="center" class="row">
						<div align="center" class="col-lg-12">
							<div align="center" class="welcomeText">Welcome to Evalu8</div>
						</div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<div align="center" class="col-sm-12">
							<span class="welcomeText1">The powerful new Pearson test
								generator will streamline all your test creation tasks.</span>
						</div>
					</div>
					<hr />
					<div class="row">
						<div align="center" class="welcomeText2">Easy three steps setup.</div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<div class="col-sm-4">
							<span class="one">1</span>
						</div>

						<div class="col-sm-4">
							<span class="two">2</span>
						</div>

						<div class="col-sm-4">
							<span class="three">3</span>
						</div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<div class="col-sm-4" align="center" >
							<span align="center" class="welcomeText3">Choose Your Discipline </span>
						</div>
						<div class="col-sm-4" align="center">
							<span align="center" class="welcomeText3"> Choose Your Textbooks or
								Topics</span>
						</div>
						<div class="col-sm-4" align="center">
							<span align="center" class="welcomeText3"> Import Tests or Questions</span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12" style="margin-top: 20px;">
							<button type="button" class="btn-welButton"
								onclick="location.href='#/startup'">Start</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</section>
</div>