<div class="text-center welcomebackground">
	<form class="form-signin">
		<div class="text34 margin-bot-10">Pearson Test Builder</div>
		<div class="text18 margin-bot-20">The powerful new Pearson Test
			Builder will streamline all your test creation tasks.</div>
		<hr>
		<div class="text18 margin-top-20 margin-bot-15">Three steps
			setup.</div>
		<div class="width100 inlineblock">
			<div class="width30 pull-left margin-bot-15 text-center">
				<div class="circlenumber pull-left">1</div>
				<div>Choose Your Discipline</div>
			</div>
			<div class="width33 pull-left margin-bot-15 text-center">
				<div class="circlenumber pull-left">2</div>
				<div>Choose Your Textbooks or Topics</div>
			</div>
			<div class="width30 pull-left margin-bot-15 text-center">
				<div class="circlenumber pull-left">3</div>
				<div>Import Tests or Questions</div>
			</div>
			<div  class="pull-left col-md-12" ><button class="btn btn-lg btn-primary btn-block height40"
				type="submit" onclick="location.href='#/startup'">Start</button></div>
	</form>
</div>

