<div ng-show="answerAreaOnLeftSide" class="floatLeftImp margin-top-10 width12"></div>
<div class="floatLeftImp" ng-class="answerAreaOnLeftSide?'questionContainerWithAnswerArea':'questionContainer'">
	<div data-ng-if="!node.IsEditView" class="qtiPrintView" 
		ng-mousedown="controller=='TestCreationFrameController'?selectQuestion(node):selectNode(this);">
		<div class="questionPrintContainer">
			<div class = "qstnPrintViewIndex" ng-class="{twoDigitIndex: $index + 1 > 9 ,threedigitIndex: $index + 1 > 99, fourDigitIndex: $index + 1 > 999}">{{controller=='TestCreationFrameController' || 'PrintTestController'?$index + 1:node.questnNumber}})</div>
            <div class="printQuestionCaption" ng-style="{{setEssayPageSize(node.qtiModel)}}" data-ng-bind-html="getTrustedHTML(node.qtiModel.Caption==''?node.qtiModel.PrintCaption:node.qtiModel.Caption)"></div>
            <button id="QBPencil" type="button" ng-show="node.showEditQuestionIcon" 
				class="newTest-close questionIcon action-icon-bg glyphicon glyphicon-plus" 
				ng-mousedown="editQuestion(this);$event.stopPropagation();" 
				tooltip-append-to-body="true" tooltip-trigger="mouseenter" 
				tooltip-placement="bottom" tooltip="Move question to right for editing" >
				</button>
            </div>
	</div>

	<div data-ng-if="node.IsEditView">
		<div class='questionSectionTitle'>{{node.qtiModel.QstnSectionTitle}}</div>
        <div ng-class="{twoDigitIndex: $index + 1 > 9 ,threedigitIndex: $index + 1 > 99, fourDigitIndex: $index + 1 > 999}">{{$index + 1}})</div>
		<div class="questionEditContainer">
			<div class="captionContainer">
				<div id="questionCaption" contenteditable="true"
					placeholder={{node.qtiModel.EditCaption}} ready="onReady({{focusEditorIndex}})"
					ckeditor="htmlEditorOptions"  ready="focusCaption()" data-ng-model="node.qtiModel.Caption"></div>
				<div class="captionImageContainer">
                    <button class="captionImageIcon glyphicon glyphicon-picture"
                            tooltip="Upload picture" tooltip-placement="bottom"
                            data-ng-click='showUploadImagePanel(this,$event,"div.captionContainer")' event-focus="click" event-focus-id="questionUploadBtn"></button>
				</div>
			</div>
			<div class="recommendedAnswerContainer">
				Recommended Answer<textarea rows="4" cols="50" id="simpleChoice"					
					placeholder={{node.qtiModel.EditRecommendedAnswer}}				
					class="recommendedAnswer"	
					data-ng-model="node.qtiModel.RecommendedAnswer"></textarea>
			</div>
			<div id="questionUploadImage" class="questionUploadImage"
				ng-show="imagePanelLoaded" ng-file-drop ng-accept="'image/*'"
				data-ng-file-change="upload($files)"
				drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}">
				<div>Drag picture here or browse to upload</div>
                <input id="questionUploadBtn" class="questionUploadBtn" type="button" value="Browse"
                       data-ng-file-select data-ng-file-change="upload($files)"
                       ng-accept="'*.jpg,*.png,*.tif,*.tiff,*.gif,*.jpeg,*.bmp'" />
			</div>

		</div>
	</div>