<div ng-show="answerAreaOnLeftSide" class="floatLeftImp margin-top-10 width12"></div>
<div class="floatLeftImp" ng-class="answerAreaOnLeftSide?'questionContainerWithAnswerArea':'questionContainer'">
    <div data-ng-if="!node.IsEditView" class="qtiPrintView"
        ng-mousedown="selectQuestion(node);">
       <div class="printViewLinks" ng-show="showQstnEditIcon" >		
				<a id="switchLink" class="qstnLinks"  data-ng-click="toggleEdit(node)">Edit</a>
				<a class="qstnLinks qstnDeleteLinks" data-ng-click="closeQuestions(tests[currentIndex],$index)">Delete</a>
		</div>
        <div class="questionPrintContainer">
            {{$index + 1}})
            <div class="printQuestionCaption"
                data-ng-bind-html="getPrintModeFbCaption(node.qtiModel.Caption==''?node.qtiModel.PrintCaption:node.qtiModel.Caption)"></div>
        </div>
    </div>
    <div data-ng-if="node.IsEditView">
       	<div class="editViewLinks" >	
			<a id="switchLink" class="qstnLinks" data-ng-click="toggleEdit(node)">Save</a>
			<a class="qstnLinks qstnDeleteLinks" data-ng-click="closeQuestions(tests[currentIndex],$index)">Delete</a>			
		</div>
        <div class='questionSectionTitle'>{{node.qtiModel.QstnSectionTitle}}</div>
        <div class="fbIndex">{{$index + 1}})</div>
        <div class="fbMainContainer">
            <div class="fbCaptionContainer">
                <div ng-change="updateFIBanswer(node.qtiModel.CorrectAnswerHtml)"
                    id="questionCaption" contenteditable="true"
                    ready="focusFIBcaption()" placeholder={{node.qtiModel.EditCaption}}            
                    data-ng-keydown="removeFIBblanks(this,$event)"
                    ckeditor="htmlEditorOptions" data-ng-model="node.qtiModel.Caption">
                </div>
                <div class="captionImageContainer">
                    <button class="captionImageIcon glyphicon glyphicon-picture"
                         	tooltip="Upload picture" tooltip-placement="bottom"
                        data-ng-click='showUploadImagePanel(this,$event,"div.fbCaptionContainer")'></button>
                </div>
            </div>

            <div class="blankBtnDiv addBlankDiv">
                <button class="editView blankButton"
                    ng-mousedown="addBlank(this,$event);" ng-disabled="captionFocus">Add Blank</button>
                <div id="crtAnsSpace"></div>
                <div class="editView EssayHeader" id="crtAns">
                    Correct Answer
                    <div id="fbAnswerContainer"
                        data-ng-model="node.qtiModel.CorrectAnswerHtml"
                        data-ng-bind-html="getFbAnswerOption(node.qtiModel.CorrectAnswerHtml)"></div>
                </div>
            </div>
            <div id="questionUploadImage" class="questionUploadImage"
                ng-show="imagePanelLoaded" ng-file-drop ng-accept="'image/*'"
                data-ng-file-change="upload($files)"
                drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}">
                <div>Drag picture here or browse to upload</div>
                <input class="questionUploadBtn" type="button" value="Browse"
                    data-ng-file-select data-ng-file-change="upload($files)"
                    ng-accept="'*.jpg,*.png,*.tif,*.tiff,*.gif,*.jpeg,*.bmp'" />
            </div>
        </div>
    </div>


</div>
