<div ng-show="answerAreaOnLeftSide" class="margin-top-10 floatLeftImp width12"></div>
<div class="floatLeftImp" ng-class="answerAreaOnLeftSide?'questionContainerWithAnswerArea':'questionContainer'">
	<div data-ng-if="!node.IsEditView" class="qtiPrintView" ng-mousedown="selectQuestion(node);">
		 <div class="questionPrintContainer">{{$index +1}})
			<div class="printQuestionCaption"
				data-ng-bind-html="getTrustedHTML(node.qtiModel.Caption==''?node.qtiModel.PrintCaption:node.qtiModel.Caption)"></div>
			<div class="matchingOptionContainer"
				data-ng-repeat="Option in node.qtiModel.Options track by $index">
				<div ng-show="answerAreaOnLeftSide" class="answerAreaForMF floatLeftImp">__________</div>
				<div class="columnA_container">
					<div data-ng-bind="getQuestionIndex($index)"
						class="optionCharIndex"></div>
					<div class="columnA"
						data-ng-bind-html="getTrustedHTML(Option.option==''?node.qtiModel.PrintOption:Option.option)"></div>
				</div>
				<div class="columnB_container">
					<div data-ng-bind="getQuestionIndex($index)"
						class="optionCharIndex"></div>
					<div class="columnB"
						data-ng-bind-html="getTrustedHTML(Option.matchingOption==''?node.qtiModel.printMatchingOption:Option.matchingOption)"></div>
				</div>
			</div>
		</div>
	</div>


	<div data-ng-if="node.IsEditView">
		<div class='questionSectionTitle'>{{node.qtiModel.QstnSectionTitle}}</div>
		<div>{{$index + 1}})</div>
		<div class="questionEditContainer">
			<div class="captionContainer">
				<div id="questionCaption" contenteditable="true"
					placeholder={{node.qtiModel.EditCaption}}
					ckeditor="htmlEditorOptions" data-ng-model="node.qtiModel.Caption"></div>
				<div class="captionImageContainer">
                    <button class="captionImageIcon glyphicon glyphicon-picture"
                            tooltip="Upload picture" tooltip-placement="bottom"
                            data-ng-click='showUploadImagePanel(this,$event,"div.captionContainer")'
                            event-focus="click" event-focus-id="questionUploadBtn"></button>
				</div>
			</div>

			<div class="mf_mainOption">
				<div class="mf_mainOptionContainer"
					data-ng-repeat="(i, Option) in node.qtiModel.Options track by $index">
					<div class='mf_optionRow'>
						<div class='mfOptionIndex'>
							<span class="mf_optionCharIndex">A{{$index+1}}</span>
						</div>

						<div class="mf_optionText" ckeditor="htmlEditorOptions"
							contenteditable='true' ready="onReady({{focusEditorIndex}})"
							placeholder="{{node.qtiModel.editOption_Column_A1 + ($index+1) + node.qtiModel.editOption_Column_A2}}"
							data-ng-model="Option.option"></div>

						<div class="optionIconsContainer">
                            <button class="optionImageIcon glyphicon glyphicon-picture"
                                    tooltip="Upload picture" tooltip-placement="bottom"
                                    data-ng-click='showUploadImagePanel(this,$event,"div.mf_optionRow",$index,"ColumnA")'
                                    event-focus="click" event-focus-id="questionUploadBtn"></button>
							<button tooltip="Add answer" tooltip-placement="bottom" id="0" name="Add" 
								class="optionImageIcon glyphicon glyphicon-plus"
								data-ng-click="addOption($index,node)"></button>
							<button tooltip="Delete this answer" tooltip-placement="bottom"	 id="0" name="Delete"
								class="optionImageIcon glyphicon glyphicon-remove"
								data-ng-click="removeOption($index,$index==node.qtiModel.CorrectAnswer)"></button>
							
						</div>
					</div>
					<div class='mf_matchingOptionRow'>
						<div class='mfOptionIndex'>
							<span class="mf_optionCharIndex">B{{$index+1}}</span>
						</div>
						<div class="mf_matchingOptionText" contenteditable='true'
							ckeditor="htmlEditorOptions"
							ready="onReady({{focusEditorIndex}})"
							placeholder="{{node.qtiModel.editOption_Column_B + ($index+1) }}"
							data-ng-model="Option.matchingOption"></div>
						<div class="optionIconsContainer"> 
                            <button class="optionImageIcon glyphicon glyphicon-picture"
                                    tooltip="Upload picture" tooltip-placement="bottom"
                                    data-ng-click='showUploadImagePanel(this,$event,"div.mf_matchingOptionRow",$index,"ColumnB")' 
                                    event-focus="click" event-focus-id="questionUploadBtn"></button>
						</div>
					</div>

				</div>
			</div>
			<div id="questionUploadImage" class="questionUploadImage"
				ng-show="imagePanelLoaded" ng-file-drop ng-accept="'image/*'"
				data-ng-file-change="upload($files)"
				drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}">
				<div>Drag picture here or browse to upload</div>
                <input id="questionUploadBtn" class="questionUploadBtn" type="button" value="Browse"
                       data-ng-file-select data-ng-file-change="upload($files)"
                       ng-accept="'*.jpg,*.png,*.tif,*.tiff,*.gif,*.jpeg,*.bmp'" />
			</div>
		</div>
	</div>

</div>
