<div class="advancedSearchCriteria" ng-show="showAdvancedSearch">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<button type=" button" class="close"
					ng-click="closeAdvancedSearch()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 text-left">
				<h5 class="bold">Type</h5>
			</div>
			<div class="col-md-11 margin-bot-10">
				<div>
					<div class="col-md-4"
						ng-class="isThisQuizTypeSelected('Essay')?'ck-buttonSelected':'ck-button'"
						ng-click='toggleQuestiontypeSelection("Essay")'>Essay</div>
					<div class="col-md-4"
						ng-class="isThisQuizTypeSelected('MultipleResponse')?'ck-buttonSelected':'ck-button'"
						ng-click='toggleQuestiontypeSelection("MultipleResponse")'>
						Multiple Response</div>
					<div class="col-md-4"
						ng-class="isThisQuizTypeSelected('Matching')?'ck-buttonSelected':'ck-button'"
						ng-click='toggleQuestiontypeSelection("Matching")'>Matching
					</div>
				</div>
				<div>
					<div class="col-md-4"
						ng-class="isThisQuizTypeSelected('MultipleChoice')?'ck-buttonSelected':'ck-button'"
						ng-click='toggleQuestiontypeSelection("MultipleChoice")'>
						Multiple Choice</div>
					<div class="col-md-4"
						ng-class="isThisQuizTypeSelected('TrueFalse')?'ck-buttonSelected':'ck-button'"
						ng-click='toggleQuestiontypeSelection("TrueFalse")'>True
						False</div>

					<div class="col-md-4"
						ng-class="isThisQuizTypeSelected('FillInBlanks')?'ck-buttonSelected':'ck-button'"
						ng-click='toggleQuestiontypeSelection("FillInBlanks")'>Fill
						in the Blanks</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 text-left">
				<h5 class="bold">Metadata</h5>
			</div>
			<div class="col-md-11 text-left margin-top-10">
			</div>
		</div>
		<div class="row">
			<div class='col-md-12 metadatarow' ng-repeat="node in userMetadata">
				<div class='col-md-1 metdatalabelSearch floatLeftImp'>{{node}}:</div>
				<div class="col-md-11 metdataVal floatLeftImp" ng-if="node=='Difficulty'">
					<div class="floatLeftImp" ng-repeat="level in difficultyLevels">
						<div class="width70Imp"  ng-class="isGivenLevelSelected(level.value)?'ck-buttonSelected':'ck-button'"
							ng-click='selectLevel(level.value)'>{{level.name}}</div>
					</div>
				</div>
				<div class="col-md-11 metdataVal" ng-if="node!='Difficulty'">
					<input type="textbox" id="{{node}}" ng-model="metadataValues[node]"
						ng-change="enableDisableSearch()" class='metdataInput'></input>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row col-lg-12 text-right margin-bot-10">
				<button ng-click="closeAdvancedSearch()" class="backButton">Cancel</button>
				<button class="nextButton" ng-class="{btnDisbled : isSaveDisabled }"
					ng-disabled="isSaveDisabled"
					ng-click="searchBooksForQuestionTypes()">Search</button>
			</div>
		</div>
	</div>
</div>