<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()"
		aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-default-header-title" id="myModalLabel">Export
		Tests</h4>
</div>

<div class="modal-body">
	<!-- <div class="alert alert-danger" ng-show="isError" role="alert">{{errorMessage}}</div> -->

	<section>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<b>Export file format</b>
			</div>
			<div class="col-md-3">
				<div class="radio" style="margin-top: 0px;"
					data-ng-repeat="format in exportFileFormats">
					<label> <input type="radio" name="fileFormat"
						data-ng-change="format_change()"
						data-ng-model="$parent.selectedFormat" data-ng-value="format">
						{{format.text}}
					</label>
				</div>

			</div>
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<b>Add answer area</b>
			</div>
			<div class="col-md-3">

				<div class="radio" style="margin-top: 0px;"
					data-ng-repeat="answerArea in answerAreas">
					<label> <input type="radio" name="answerOptions"
						data-ng-disabled="$parent.disableAnsAreaAndKey"
						data-ng-model="$parent.selectedAnswerArea"
						data-ng-value="answerArea"> {{answerArea.text}}
					</label>
				</div>

			</div>
		</div>
	</section>
	<section>
		<div class="row"></div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<b>Margins</b>
			</div>
			<div class="col-md-3">
				<div class="radio" style="margin-top: 0px;"
					ng-repeat="margin in margins">
					<label> <input type="radio" name="margins"
						data-ng-model="$parent.selectedMargin" data-ng-value="margin">
						{{margin.text}}
					</label>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<b>Answer key</b>
			</div>
			<div class="col-md-3">
				<div class="radio" style="margin-top: 0px;"
					ng-repeat="answerKey in answerKeys">
					<label> <input type="radio" name="answerKeys"
						data-ng-disabled="$parent.disableAnsAreaAndKey"
						data-ng-model="$parent.selectedAnswerKey"
						data-ng-value="answerKey"> {{answerKey.text}}
					</label>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="row"></div>
		<div class="row">
			<div class="col-md-1 "></div>
			<div class="col-md-2">
				<b>Page Number</b>
			</div>
			<div class="col-md-3">
				<div class="radio" style="margin-top: 0px;"
					ng-repeat="pageNumber in pageNumbers">
					<label> <input type="radio" name="pageNumbers"
						data-ng-model="$parent.selectedPageNumber"
						data-ng-value="pageNumber"> {{pageNumber.text}}
					</label>
				</div>
			</div>
			<div class="col-md-1 "></div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-12">
						<div class="checkbox">
							<label> <input type="checkbox" style="margin-top: 0px;"
								data-ng-model="isIncludeStudentName"
								data-ng-disabled="disableAnsAreaAndKey"> Add student
								name label &amp; space
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="checkbox" style="margin-top: 0px;">
							<label> <input type="checkbox"
								data-ng-model="isIncludeRandomizedTest"
								data-ng-disabled="disableAnsAreaAndKey"> Include
								randomized test
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="row"></div>
	<div class="row text-center">
		<div>
			<div>
				<input type="checkbox" data-ng-model="isSaveSettingsAsDefault">
				Save settings as default
			</div>
		</div>
	</div>

</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal"
		data-ng-click="cancel()">Cancel</button>
	<button type="button" class="btn btn-primary"
		data-ng-click="onclick_exportTest()">Export</button>
</div>