<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PEARSON</a>
            <a class="navbar-brand header-text" href="#">Evalu8: Test Generator</a>
        </div>


        <div id="navbar" class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">John <span class="glyphicon glyphicon-chevron-down" tooltip="Logout and Account Information" tooltip-placement="bottom"></span><span class="border-right margin-border"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <label class="margin-lft-20"><strong>John Smith</strong></label>
                        <label class="margin-lft-20">john.smith@nyu.edu</label>
                        <li><a tabindex="-1" href="#">Profile</a></li>
                        <li><button ng-click="settings_open()">Settings</button>
                        <li class="divider"></li>
                        <button type="button" class="btn btn-primary width100">Sign Out</button>
                    </ul>
                </li>
                <!--<li ng-show="userName!=''">
                    <a  ><div class="glyphicon glyphicon-user"></div> {{userName}}<div class="glyphicon glyphicon-chevron-down"></div> </a>
                </li>-->
                <li><a href="#/usersettings/disciplines" class='glyphicon glyphicon-question-sign' tooltip="Evalu8 Help" tooltip-placement="bottom"> </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>