<div class="row">
	<div class="col-lg-6">
		<input type="text" placeHolder="Search selected banks"
			class="bookSearch form-control" ng-model="selectedContainer"
			ng-focus="validateSearch()"
			typeahead="container as container.title for container in allContainers | filter:{title:$viewValue}"
			ng-keyup="showContainerOnEnter($event)"> <span
			class="glyphicon glyphicon-search bookSearchicon"
			ng-click="showContainerOnClick()" ng-Mytest-Tooltip data-container="body" data-toggle="tooltip" data-placement="bottom" title="Search"></span>
	</div>
	<div class="col-lg-6">
		<a href="" class="advancedSearchText" ng-click="openAdvancedSearch()">Advanced
			Search</a>
	</div>
</div>
<div class="advancedSearchCriteria" ng-show="showAdvancedSearch">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<button type=" button" class="close"
					ng-click="closeAdvancedSearch()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 text-left">
				<h5">Type:</h5>
			</div>
			<div class="col-md-11 margin-bot-10">
				<div>
					<div class="ck-button col-md-4">
						<label ng-class="disabled-cursor"> <input type="checkbox"
							ng-click='toggleQuestiontypeSelection("Essay")'
							ng-checked="false"><span>Essay</span>
						</label>
					</div>
					<div class="ck-button col-md-4">
						<label ng-class="disabled-cursor"> <input type="checkbox"
							ng-click='toggleQuestiontypeSelection("MultipleResponse")'
							ng-checked="false"><span>Multiple Response</span>
						</label>
					</div>
					<div class="ck-button col-md-4">
						<label ng-class="disabled-cursor"> <input type="checkbox"
							ng-click='toggleQuestiontypeSelection("Matching")'
							ng-checked="false"><span>Matching</span>
						</label>
					</div>
				</div>
				<div>
					<div class="ck-button col-md-4">
						<label ng-class="disabled-cursor"> <input type="checkbox"
							ng-click='toggleQuestiontypeSelection("MultipleChoice")'
							ng-checked="false"><span>Multiple Choice</span>
						</label>
					</div>
					<div class="ck-button col-md-4">
						<label ng-class="disabled-cursor"> <input type="checkbox"
							ng-click='toggleQuestiontypeSelection("TrueFalse")'
							ng-checked="false"><span>True or False</span>
						</label>
					</div>

					<div class="ck-button col-md-4">
						<label ng-class="disabled-cursor"> <input type="checkbox"
							ng-click='toggleQuestiontypeSelection("FillInBlanks")'
							ng-checked="false"><span>Fill in Blanks</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			  <div class="row col-lg-12 text-right margin-bot-10">
				<button ng-click="closeAdvancedSearch()" class="backButton">Cancel</button>
				<button class="nextButton" ng-class="{btnDisbled : isSaveDisabled }"
					ng-disabled="isSaveDisabled"
					ng-click="searchBooksForQuestionTypes()">Search</button>
			</div>
		</div>
	</div>
</div>
<div class="row margin-top-15">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="addFolderContainer">
			<div class="glyphicon glyphicon-plus addFolderIcon"
				ng-click="openUserSettings(2)"></div>
			<a href="" class="addFolderText" ng-click="openUserSettings(2)">Add
				Question Banks</a>
		</div>

	</div>
</div>
<div class="testContainer">
	<script type="text/ng-template" id="discipline_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <div class="treeDiv">
                <div class="maindiv">
                    <div class="imagediv">
                        <input ng-click="getBooks(this)" type="image" class="collapseImg"
                               ng-src="{{collapsed?'images/right_arrow2.png':'images/right_arrow.png'}}"></input>
                    </div>
                    <div class="captiondiv">
                        <label class="captionLabel" title="{{node.item}}">{{node.item}}</label>
                    </div>
                </div>
            </div>
        </div>

        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" droppable="false">
            <li ng-if="!node.isQuestion" draggable="false" ng-repeat="node in node.nodes" collapsed="{{node.isCollapsed?'true':'false'}}" ui-tree-node ng-include="'book_renderer.html'"></li>
                        <li printmode="true" class="questIndex" ng-class="{questionSelected:node.isNodeSelected}" ng-if="node.isQuestion" ng-repeat="node in node.nodes" collapsed="{{node.isCollapsed?'true':'false'}}" ui-tree-node ng-include="'qb_questions_renderer.html'"></li>

        </ol>
    </script>
	<script type="text/ng-template" id="book_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content" ng-class="{questionTitleInTree: node.questionXML}">
            <div class="treeDiv" ng-class="{activeFolder:node.isNodeSelected}">
                <div class="maindiv">
                    <div class="imagediv">
                        <input ng-click="getNodes(this)" type="image" class="collapseImg" ng-src="{{collapsed?'images/right_arrow2.png':'images/right_arrow.png'}}"></input>
                    </div>
                    <div class="captiondiv" ng-mousedown="selectBook(this.node)">
                        <label class="captionLabel" title="{{node.title}}">{{node.title}}</label>
                    </div>
                    <!--
                    <div  class="iconsChapter">
                        <span class="icon-magic test-wizard-icon-white pull-right" ng-click="createTestWizardCriteria(this)" ng-Mytest-Tooltip data-container="body" data-toggle="tooltip" data-placement="bottom" title="Auto create test with wizard"></span>
                    </div>
                    -->
                </div>
            </div>
        </div>

        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" droppable="false">
            <li draggable="{{node.nodeType=='chapter' || node.nodeType=='topic'}}" ng-repeat="node in node.nodes" collapsed="{{node.isCollapsed?'true':'false'}}" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>
	<script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content" ng-class="">
            <div class="treeDiv" ng-class="{activeFolder: !node.showTestWizardIcon , activeFolder: node.isNodeSelected}">
                <div class="maindivChapter">
                    <div class="imagediv">
                        <input ng-mousedown="getNodesWithQuestion(this)" type="image" class="collapseImg" ng-src="{{collapsed?'images/right_arrow2.png':'images/right_arrow.png'}}"></input>
                    </div>
                    <div class="captiondiv" ng-mousedown="selectNode(this.node)">
                        <label class="captionLabel" title="{{node.title}}">{{node.title}}</label>
                    </div>
                    <div class="iconsChapter">
                        <span class="action-icon-bg glyphicon glyphicon-pencil" 
							ng-show="node.showEditQuestionIcon && node.nodeType != 'publisherTests'" 
							ng-mousedown="editQuestion(this)" data-container="body" ng-Mytest-Tooltip data-container="body" data-toggle="tooltip" data-placement="bottom" title="Move question to right for editing"></span>
                        <span class="icon-magic action-icon-bg pull-right" 
							ng-show="node.showTestWizardIcon && node.nodeType != 'publisherTests'" 
							ng-mousedown="createTestWizardCriteria(this)" ng-Mytest-Tooltip data-container="body" data-toggle="tooltip" data-placement="bottom" title="Auto create test with wizard"></span>
                        <!--
                        <span class="settingsChapter"></span>
                        <span class="printChapter"></span>
                        -->
                    </div>
                </div>


            </div>
        </div>
        <ol ui-tree-nodes="" type="1" ng-model="node.nodes" ng-class="{hidden: collapsed}" droppable="false">

            <li class="questIndex" printmode="true" ng-repeat="node in node.nodes" ng-class="{questionSelected:node.isNodeSelected}" collapsed="{{node.isCollapsed?'true':'false'}}" ui-tree-node draggable="{{node.nodeType=='question' || node.nodeType=='test'}}" ng-include="node.template">
            </li>
        </ol>
    </script>

	<script type="text/ng-template" id="tests_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">

            <div data-ng-if="node.nodeType=='test'" class="treeDiv" ng-class="{testHighlightSelected: isActiveSelectedTest(node.guid)}">
                <div class="maindivTest" id={{node.guid}} ng-class="{testHighlight: node.selectTestNode}">
                    <div class="imagediv"></div>
                    <div class="testCaptionDiv">
                        <div ng-mousedown="selectTestNode($event,this);" id="testButtonDiv" 
                             ng-class="{testHighlight: node.selectTestNode}" class=" testInputbuttonClass">
                             <span class="testCaptionLabel testInputbuttonClass"  title="{{node.title}}"> {{node.title}}</span> &nbsp;&nbsp;&nbsp;&nbsp; {{node.modified | date:'MM/dd/yy'}}
                        </div>
                    </div>
                    <div class="testimagesdiv" ng-class="{testHighlight: node.selectTestNode}">
                        <span ng-show="node.selectTestNode">
                            <button ng-show="node.showEditIcon" id="editTestbtn" ng-click="editTest(this)" 
                                    class="foldertestediticon glyphicon glyphicon-pencil" ng-Mytest-Tooltip data-container="body" data-toggle="tooltip" data-placement="bottom" title="Open in right edit panel"/>                            
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </script>

	<script type="text/ng-template" id="qb_questions_renderer.html">
        <div ng-mousedown="selectNode(this.node);" ui-tree-handle class="printViewContainer tree-node tree-node-content questionList" ng-class="{questionTitleInTree: node.questionXML}">
            <span ng-show="node.showEditQuestionIcon" class="newTest-close questionIcon action-icon-bg glyphicon glyphicon-pencil" ng-mousedown="editQuestion()" ng-Mytest-Tooltip data-container="body" data-toggle="tooltip" data-placement="bottom" title="Move question to right for editing"></span>
            <div class="printViewContainer" ng-if="node.textHTML" ng-bind-html="getHTML(this)">
            </div>
        </div>
    </script>

	<div data-ui-tree id="tree-root" class="question_bank_scrollbar">

		<div class="testMessagetip" style="position: absolute; top: 0px">
			<div class="newTest-close glyphicon glyphicon-remove"
				ng-click="closeTip()"></div>
			<div>
				<span class="glyphicon glyphicon-info-sign"></span>&nbsp;<strong
					class="tips">Tips:</strong> Drag test to right to edit OR select
				pencil icon.
			</div>
		</div>

		<div class="questionMessagetip" style="position: absolute; top: 0px">
			<div class="newTest-close glyphicon glyphicon-remove"
				ng-click="closeQuestionTip()"></div>
			<div>
				<span class="glyphicon glyphicon-info-sign"></span>&nbsp;<strong
					class="tips">Tips:</strong> Drag selected topic or question to
				right or click pencil icon to build a test <br>manually OR<br />Select
				the Test Wizard wand to auto-create a test based on criteria you
				choose
			</div>
		</div>
		<ol data-ui-tree-nodes data-ng-model="disciplines" droppable="false">
			<li data-ng-repeat="node in disciplines" data-ui-tree-node
				collapsed="{{node.isCollapsed?'true':'false'}}" draggable="false"
				data-ng-include="'discipline_renderer.html'"></li>
		</ol>
	</div>
</div>