<div class="modal-header">
    <!-- <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
    <h4 class="modal-header-title" id="myModalLabel">Save as</h4>
    test title : <input type="text" ng-model="title" class="form-control input-sm" placeholder="Enter test title">
</div>
<div class="modal-body">
    <div   id="MyTest-tree-root">
        <ol  ng-model="node" class="folder-template-container">
            <li  ng-repeat="node in node">
                <div class="folder-main" id={{node.guid}}>
                    <div class="imagediv">
                        <input type="image" ng-click="getFolders(this)" class="collapseImg"
                               ng-src="{{collapsed && 'images/right_arrow2.png' || 'images/right_arrow.png'}}" />
                    </div>
                    <div class="folder-caption" >
                        <label class="captionLabel">{{node.title}}</label>
                    </div>
                </div>
                <div  ng-model="node"  ng-include="'folder_render.html'" class="folder-template"> </div>
            </li>
        </ol>
    </div>
    <script type="text/ng-template" id="folder_render.html">
        <div class="folder-template-container">
            <div ng-repeat="node in node.nodes" class="folder-main-container" id={{node.guid}}>
                <div data-ng-if="node.nodeType != 'empty'">
                    <div class="imagediv">
                        <input type="image" ng-click="getFolders(this)" class="collapseImg"
                               ng-src="{{collapsed && 'images/right_arrow2.png' || 'images/right_arrow.png'}}" />
                    </div>
                    <div class="folder-caption">
                        <label class="captionLabel">{{node.title}}</label>
                    </div>
                    <div ng-model="node" ng-include="'folder_render.html'" class="folder-template"> </div>
                </div>
            </div>
        </div>
    </script>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-default" ng-click="openAddNewFolderPopup()">New Folder</button>


    <script type="text/ng-template" id="addNewFolder.html">
        <div class="modal-header">
            <h3 class="modal-title">New folder</h3>
        </div>
        <div class="modal-body">
            <input type="text" ng-model="folderName" class="form-control" placeholder="Untitled Folder " ng-enter="addNewFolder()" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="createFolder()">Create</button>
        </div>
    </script>
</div>