<div>
	<input type="button" x-ng-class="{'selected': var=='myTests'}" 
	id="myTest" onclick="location.href='#/myTests'" value="My Tests" class="btn btn-primary">
	<input type="button" x-ng-class="{'selected': var=='publisherTests'}"
	id="publisherTest" onclick="location.href='#/publisherTests'" value="Publisher Tests" class="btn btn-primary">
	<input type="button" x-ng-class="{'selected': var=='questionBanks'}"
	id="question" onclick="location.href='#/questionBanks'" value="Question Banks" class="btn btn-primary">	
	
	<input type="button" x-ng-class="{'selected': var=='customQuestionBanks'}"
	id="customQuestion" onclick="location.href='#/customQuestionBanks'" value="Custom Questions" class="btn btn-primary">		
		
</div>