<div class="testContainer">
    <div>
        <div>
            <div class="newFolderDiv">
                <!-- <label class=" treeDiv1"> -->
                <button id="addfolder" class="addFolder fa fa-plus" event-focus="click" event-focus-id="txtFolderName" ng-click="showAddFolderPanel= !showAddFolderPanel" value="Add Folder" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Add new folder"><span class="text14 margin-lft-10">Add Folder</span></button>
                <button id="import" data-ng-click="openImportBooksViewModal()"  class="import fa fa-download"><span class="text14 margin-lft-10" >Import</span></button>
                <!-- </label> -->
            </div>

            <div class="createNewNode" ng-show="showAddFolderPanel">
                <input type="text" data-ng-model="folderName" id="txtFolderName" 
                	ng-disabled="isAddFolderClicked" class="form-control"
                    ng-blur="folderNameTextBoxBlur()" placeholder="Untitled Folder " ng-enter="addNewFolder(true)" />
            </div>

        </div>
        <div data-ui-tree id="MyTest-tree-root" class="myTest_scrollbar">
            <ol data-ui-tree-nodes data-ng-model="defaultFolders" droppable="{{node.droppable}}">
				<div class="testMessagetip"  style="position: absolute;top:0px">
				<div class="newTest-close glyphicon glyphicon-remove"
                     ng-click="closeTip()"></div>
				<div><span class="glyphicon glyphicon-info-sign"></span>&nbsp;<strong class="tips">Tips:</strong> Drag test to right to edit OR select pencil icon.
				Select Archive box icon to move <br>test to Archive directory</div>
				</div>
                <li data-ng-repeat="node in defaultFolders" data-ui-tree-node x-collapsed="true" draggable="{node.draggable}"
                    data-ng-include="'defaultfolder_renderer.html'" data-ng-class="{'questIndex' : node.nodeType=='question'}" />
            </ol>
        </div>
    </div>
    <script type="text/ng-template" id="defaultfolder_renderer.html">
        <div draggable="{{node.draggable}}" data-ui-tree-node>
            <div ui-tree-handle class="tree-node tree-node-content">

                <div data-ng-if="node.nodeType=='question'" ng-class="{testHighlightSelected: isActiveSelectedTest(node.guid)}">
                    <div class="questIndex qbQuestions" style="border-bottom: solid #F8f8f8;">
						<div ng-if="node.questionType == 'userCreatedQuestion'" class="questionListIndex">{{(node.questnNumber) }})</div>
						<div ng-if="node.questionType != 'userCreatedQuestion'" class="questionListIndex">{{$index + 1}})</div>
        				<div id="QBQuestion" nodeSelected={{node.isNodeSelected}} ng-mousedown="selectNode(this.node);" ui-tree-handle class="printViewContainer tree-node tree-node-content questionList" ng-class="{questionTitleInTree: node.questionXML}">
            				<button id="QBPencil" type="button" ng-show="node.showEditQuestionIcon" class="newTest-close questionIcon action-icon-bg glyphicon glyphicon-pencil" ng-mousedown="editQuestion(this)" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip="Move question to right for editing"></button>
            				<div class="printViewContainer" ng-if="node.textHTML" ng-bind-html="getHTML(this)"></div>
        				</div>
                    </div>
                </div>

                <div data-ng-if="node.nodeType == 'folder'" class="treeDiv"
                     ng-class="{treeNodeHover: hover}"
                     ng-mouseenter="treeNodeMouseEnter(this)"
                     ng-mouseleave="treeNodeMouseLeave(this)">
                    <div class="maindiv" ng-class="{folderHighlight: node.selectTestNode}" id={{node.guid}}>
                        <div class="imagediv">
                            <input type="image" ng-click="getFolders(this)" class="collapseImg" value=""
                                   ng-src="{{collapsed && 'images/right_arrow2.png' || 'images/right_arrow.png'}}" />
                        </div>
                        <div class="captiondiv" ng-mousedown="selectTestNode($event,this);">
                            <label class="captionLabel" title="{{node.title}}">{{node.title}}</label>
                        </div>
                        <div class="iconsCourseNode">
                            <span ng-show="node.selectTestNode">
                                <button data-ng-if="node.nodeType == 'folder'" ng-click="archiveFolder(this)"
                                        class="folderArchiveIcon fa fa-archive" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Move to Archive folder at bottom of screen" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" droppable="{{node.droppable}}">
            <li ng-repeat="node in node.nodes" collapsed="true" ui-tree-node
                ng-include="'tests_renderer.html'" draggable="{{node.draggable}}" />
        </ol>
    </script>

    <script type="text/ng-template" id="tests_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">

            

            <div data-ng-if="node.nodeType=='question'" class="treeDiv" ng-class="{testHighlightSelected: isActiveSelectedTest(node.guid)}">
                <div class="maindivTest" id={{node.guid}} ng-class="{testHighlight: node.selectTestNode}">
					<div ng-if="node.questionType == 'userCreatedQuestion'" class="questionListIndex">{{($index - node.questnNumber +1 ) }})</div>
					<div ng-if="node.questionType != 'userCreatedQuestion'" class="questionListIndex">{{$index + 1}})</div>
        			<div id="QBQuestion" nodeSelected={{node.isNodeSelected}} ng-mousedown="selectNode(this.node);" ui-tree-handle class="printViewContainer tree-node tree-node-content questionList" ng-class="{questionTitleInTree: node.questionXML}">
            			<button id="QBPencil" type="button" ng-show="node.showEditQuestionIcon" class="newTest-close questionIcon action-icon-bg glyphicon glyphicon-pencil" ng-mousedown="editQuestion(this)" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-placement="bottom" tooltip="Move question to right for editing"></button>
            			<div class="printViewContainer" ng-if="node.textHTML" ng-bind-html="getHTML(this)">
            			</div>
        			</div>
                </div>
            </div>


        </div>
        <ol ui-tree-nodes="" type="1" ng-model="node.nodes" class="questIndex" ng-class="{hidden: collapsed}" droppable="{{node.droppable}}">

            <li ng-repeat="node in node.nodes" collapsed="true" ui-tree-node 
			ng-include="'tests_renderer.html'" draggable="{{node.draggable}}" />
        </ol>
    </script>

    <script type="text/ng-template" id="x_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content questionList">
            {{node}}
        </div>
    </script>
</div>


