<div class="testContainer">
    <div>
        <div>
            <div class="newFolderDiv">
                <!-- <label class=" treeDiv1"> -->
                <button id="addfolder" class="addFolder fa fa-plus" event-focus="click" event-focus-id="txtFolderName" ng-click='addFolderClick()' value="Add Folder" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Add new folder"><span class="text14 margin-lft-10">Add Folder</span></button>
                <button id="import" data-ng-click="openImportBooksViewModal()"  class="import fa fa-download"><span class="text14 margin-lft-10" >Import</span></button>
                <!-- </label> -->
            </div>

            <div class="createNewNode" ng-show="showAddFolderPanel">
                <input type="text" data-ng-model="folderName" id="txtFolderName" 
                	ng-disabled="isAddFolderClicked" class="form-control"
                       placeholder="Untitled Folder " ng-enter="addNewFolder(true)" />
            </div>

        </div>
        <div data-ui-tree id="MyTest-tree-root" class="myTest_scrollbar">
            <ol data-ui-tree-nodes data-ng-model="defaultFolders" droppable="{{node.droppable}}">
				<div class="testMessagetip"  style="position: absolute;top:0px">
				<div class="newTest-close glyphicon glyphicon-remove"
                     ng-click="closeTip()"></div>
				<div><span class="glyphicon glyphicon-info-sign"></span>&nbsp;<strong class="tips">Tips:</strong> Drag test to right to edit OR select pencil icon.
				Select Archive box icon to move <br>test to Archive directory</div>
				</div>
                <li data-ng-repeat="node in defaultFolders" data-ui-tree-node x-collapsed="true" draggable="{node.draggable}"
                    data-ng-include="'defaultfolder_renderer.html'" />
            </ol>
        </div>
    </div>
    <script type="text/ng-template" id="defaultfolder_renderer.html">
        <div draggable="{{node.draggable}}" data-ui-tree-node>
            <div ui-tree-handle class="tree-node tree-node-content">
                <div data-ng-if="node.nodeType == 'archiveRoot'" style="margin-bottom:2px">
                    <div class="sectionLineDiv"></div>
                </div>
                <div data-ng-if="node.nodeType == 'archiveRoot'" class="treeDiv">
                    <div class="newFolderDiv padding-lft-15">
                        <div class="imagediv">
                            <input type="image" ng-click="getFolders(this)" class="collapseImg" value=""
                                   ng-src="{{collapsed && 'images/right_arrow2.png' || 'images/right_arrow.png'}}" />
                        </div>
                        <div class="captiondiv">
                            <label class="captionLabel" title="{{node.title}}">{{node.title}}</label>
                        </div>
                        <div class="iconsCourseNode">
                            <span></span>
                        </div>
                    </div>
                </div>

                <div data-ng-if="node.nodeType=='test'" class="treeDiv" ng-class="{testHighlightSelected: isActiveSelectedTest(node.guid)}">
                    <div class="maindivTest" ng-class="{testHighlight: node.selectTestNode}" id={{node.guid}}>
                        <div class="imagediv"></div>
                        <div class="testCaptionDiv">
                            <div ng-mousedown="selectTestNode($event,this);" id="testButtonDiv"
                                 class=" testInputbuttonClass ">
                                <span class="testCaptionLabel testInputbuttonClass" title="{{node.title}}"> {{node.title}}</span>&nbsp;&nbsp;&nbsp;&nbsp; {{node.modified | date:'MM/dd/yy'}}
                            </div>
                        </div>
                        <div class="testimagesdiv" ng-class="{testHighlight: node.selectTestNode}">
                            <span ng-show="node.selectTestNode">
                                <button ng-show="node.showEditIcon" id="editTestbtn"
                                        ng-click="editTest(this)"
                                        class="editiconButtons glyphicon glyphicon-pencil" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Open in right edit panel" />
                                <button ng-show="node.showArchiveIcon" ng-click="archiveTest(this)" class="archiveIconButtons fa fa-archive" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Move to Archive folder at bottom of screen" />
                            </span>
                        </div>
                    </div>
                </div>

                <div data-ng-if="node.nodeType == 'folder'" class="treeDiv"
                     ng-class="{treeNodeHover: hover}"
                     ng-mouseenter="treeNodeMouseEnter(this)"
                     ng-mouseleave="treeNodeMouseLeave(this)">
                    <div class="maindiv" ng-class="{folderHighlight: node.selectTestNode}" id={{node.guid}}>
                        <div class="imagediv">
                            <input type="image" ng-click="getFolders(this)" class="collapseImg" value=""
                                   ng-src="{{collapsed && 'images/right_arrow2.png' || 'images/right_arrow.png'}}" />
                        </div>
                        <div class="captiondiv" ng-mousedown="selectTestNode($event,this);">
                            <label class="captionLabel" title="{{node.title}}">{{node.title}}</label>
                        </div>
                        <div class="iconsCourseNode">
                            <span ng-show="node.selectTestNode">
                                <button data-ng-if="node.nodeType == 'folder'" ng-click="archiveFolder(this)"
                                        class="folderArchiveIcon fa fa-archive" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Move to Archive folder at bottom of screen" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" droppable="{{node.droppable}}">
            <li ng-repeat="node in node.nodes" collapsed="true" ui-tree-node
                ng-include="'tests_renderer.html'" draggable="{{node.draggable}}" />
        </ol>
    </script>

    <script type="text/ng-template" id="tests_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">

            <div data-ng-if="node.nodeType != 'test' && node.nodeType != 'archiveTest' && node.nodeType != 'archiveFolder'"
                 class="treeDiv"
                 ng-class="{treeNodeHover: hover}"
                 ng-mouseenter="treeNodeMouseEnter(this)"
                 ng-mouseleave="treeNodeMouseLeave(this)">
                <div class="maindiv"  ng-class="{folderHighlight: node.selectTestNode}" id={{node.guid}}>
                    <div class="imagediv">
                        <input type="image" data-ng-if="node.nodeType != 'empty'" ng-click="getFolders(this)" class="collapseImg" value=""
                               ng-src="{{collapsed && 'images/right_arrow2.png' || 'images/right_arrow.png'}}" />
                    </div>
                    <div class="captiondiv" ng-mousedown="selectTestNode($event,this);">
                        <label title={{node.title}} class="captionLabel" ng-class="{captionEmptyNode : node.nodeType == 'empty'}">{{node.title}}</label>
                    </div>
                    <div class="iconsCourseNode">
                        <span ng-show="node.selectTestNode">
                            <button  data-ng-if="node.nodeType == 'folder'" ng-click="archiveFolder(this)" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Move to Archive folder at bottom of screen"
                                    class="folderArchiveIcon fa fa-archive" />
                        </span>
                    </div>
                </div>
            </div>

            <div data-ng-if="node.nodeType == 'archiveFolder'" class="treeDiv">
                <div class="maindiv" ng-class="{folderHighlight: node.selectTestNode}" id={{node.guid}}>
                    <div class="imagediv">
                        <input type="image" data-ng-if="node.nodeType != 'empty'" ng-click="getFolders(this)" class="collapseImg" value=""
                               ng-src="{{collapsed && 'images/right_arrow2.png' || 'images/right_arrow.png'}}" />
                    </div>
                    <div class="captiondiv" ng-mousedown="selectTestNode($event,this);">
                        <label title={{node.title}} class="captionLabel" ng-class="{captionEmptyNode : node.nodeType == 'empty'}">{{node.title}}</label>
                    </div>
                    <div class="iconsCourseNode">
                        <span ng-show="node.selectTestNode">
                            <button ng-click="deleteFolder(this)" ng-disabled="isFolderDeleteClicked" class="removeIcon fa fa-trash-o" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Delete. Cannot be undone"/>
                            <button ng-click="restoreFolder(this)" class="restoreicon fa fa-undo" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Restore to main directory"/>
                        </span>
                    </div>
                </div>
            </div>

            <div data-ng-if="node.nodeType=='test'" class="treeDiv" ng-class="{testHighlightSelected: isActiveSelectedTest(node.guid)}">
                <div class="maindivTest" id={{node.guid}} ng-class="{testHighlight: node.selectTestNode}">
                    <div class="imagediv"></div>
                    <div class="testCaptionDiv">
                        <div ng-mousedown="selectTestNode($event,this);" id="testButtonDiv" 
                             ng-class="{testHighlight: node.selectTestNode}" class=" testInputbuttonClass">
                             <span class="testCaptionLabel testInputbuttonClass"  title="{{node.title}}"> {{node.title}}</span> &nbsp;&nbsp;&nbsp;&nbsp; {{node.modified | date:'MM/dd/yy'}}
                        </div>
                    </div>
                    <div class="testimagesdiv" ng-class="{testHighlight: node.selectTestNode}">
                        <span ng-show="node.selectTestNode">
                            <button ng-show="node.showEditIcon" id="editTestbtn" ng-click="editTest(this)" 
                                    class="foldertestediticon glyphicon glyphicon-pencil" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Open in right edit panel"/>
                            <button ng-click="archiveTest(this)" ng-show="node.showArchiveIcon" class="iconButtons fa fa-archive" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Move to Archive folder at bottom of screen"/>
                        </span>
                    </div>
                </div>
            </div>
            <div data-ng-if="node.nodeType=='archiveTest'" class="treeDiv" ng-class="{testHighlightSelected: isActiveSelectedTest(node.guid)}">
                <div ng-class="{testHighlight: node.selectTestNode}" class="maindivTest" id={{node.guid}}>
                    <div class="imagediv"></div>
                    <div class="testCaptionDiv">
                        <div ng-mousedown="selectTestNode($event,this);" id="testButtonDiv" 
                             ng-class="{testHighlight: node.selectTestNode}" class=" testInputbuttonClass">
                            <span class="testCaptionLabel testInputbuttonClass"  title="{{node.title}}"> {{node.title}}</span> &nbsp;&nbsp;&nbsp;&nbsp; {{node.modified | date:'MM/dd/yy'}}
                        </div>
                    </div>
                    <div class="testimagesdiv" ng-class="{testHighlight: node.selectTestNode}">
                        <span ng-show="node.selectTestNode">
                            <button  ng-click="deleteTest(this)" ng-disabled="isTestDeleteClicked" class="removeTestIcon fa fa-trash-o" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Delete. Cannot be undone"/>
                            <button ng-click="restoreTest(this)" class="restoretesticon fa fa-undo" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip="Restore to main directory"/>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <ol ui-tree-nodes="" type="1" ng-model="node.nodes" class="questIndex" ng-class="{hidden: collapsed}" droppable="{{node.droppable}}">

            <li ng-repeat="node in node.nodes" collapsed="true" ui-tree-node 
			ng-include="'tests_renderer.html'" draggable="{{node.draggable}}" />
        </ol>
    </script>

    <script type="text/ng-template" id="x_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content questionList">
            {{node}}
        </div>
    </script>
</div>


