<div class="row testContainer">
    <div class="col-lg-12  myTest_scrollbar">
        <div>
            <div class="newFolderDiv">
                <!-- <label class=" treeDiv1"> -->
                <button class="addFolder fa fa-plus" ng-click='showAddFolderPanel= !showAddFolderPanel' value="Add Folder" tooltip="Add new folder" tooltip-placement="bottom">Add Folder</button>
                <button class="import fa fa-download">Import</button>
                <!-- </label> -->
            </div>

            <div class="createNewNode" ng-show="showAddFolderPanel">
                <input type="text" data-ng-model="folderName" id="txtFolderName" class="form-control"
                       placeholder="Untitled Folder " ng-enter="addNewFolder()" />
            </div>

        </div>
        <div data-ui-tree id="MyTest-tree-root">
            <ol data-ui-tree-nodes data-ng-model="defaultFolders">
				<div class="testMessagetip"  style="position: absolute;top:0px">
				<div><span class="glyphicon glyphicon-info-sign"></span>&nbsp;<strong class="tips">Tips:</strong> Drag test to right to edit OR select pencil icon
				Select Archive box icon to move test to Archive directory.</div>
				</div>
                <li data-ng-repeat="node in defaultFolders" data-ui-tree-node
                    x-collapsed="true" data-ng-include="'defaultfolder_renderer.html'"
                    draggable="{{node.nodeType != 'archiveRoot' && node.showEditIcon }}" />
            </ol>
        </div>
    </div>
    <script type="text/ng-template" id="defaultfolder_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <div data-ng-if="node.nodeType == 'archiveRoot'" style="margin-bottom:2px">
                <div class="sectionLineDiv"></div>
            </div>
            <div data-ng-if="node.nodeType == 'archiveRoot'" class="treeDiv">
                <div class="maindiv">
                    <div class="imagediv">
                        <input type="image" ng-click="getFolders(this)" class="collapseImg"
                               ng-src="{{collapsed && 'images/right_arrow2.png' || 'images/right_arrow.png'}}" />
                    </div>
                    <div class="captiondiv">
                        <label class="captionLabel">{{node.title}}</label>
                    </div>
                    <div class="iconsCourseNode">
                        <span></span>
                    </div>
                </div>
            </div>

            <div data-ng-if="node.nodeType=='test'" class="treeDiv" ng-class="{testHighlightSelected: isActiveSelectedTest(node.guid)}">
                <div class="maindivTest" ng-class="{testHighlight: node.selectTestNode}" id={{node.guid}}>
                    <div class="imagediv"></div>
                    <div class="testCaptionDiv">
                        <div ng-mousedown="selectTestNode($event,this);" id="testButtonDiv"
                             class="testInputbuttonClass">
                            {{node.title}} &nbsp;&nbsp;&nbsp;&nbsp; {{node.modified | date:'MM/dd/yy'}}
                        </div>
                    </div>
                    <div class="testimagesdiv" ng-class="{testHighlight: node.selectTestNode}">
                        <span ng-show="node.selectTestNode">
                            <button ng-show="node.showEditIcon" id="editTestbtn"
                                    ng-click="editTest(this)"
                                    class="editiconButtons glyphicon glyphicon-pencil" tooltip="Open in right edit panel" tooltip-placement="bottom"/>
                            <button ng-show="node.showArchiveIcon" ng-click="archiveTest(this)" class="archiveIconButtons fa fa-archive" tooltip="Move to Archive folder at bottom of screen" tooltip-placement="bottom"/>
                        </span>
                    </div>
                </div>
            </div>

            <div data-ng-if="node.nodeType == 'folder'" class="treeDiv"
                 ng-class="{treeNodeHover: hover}"
                 ng-mouseenter="treeNodeMouseEnter(this)"
                 ng-mouseleave="treeNodeMouseLeave(this)">
                <div class="maindiv" id={{node.guid}}>
                    <div class="imagediv">
                        <input type="image" ng-click="getFolders(this)" class="collapseImg"
                               ng-src="{{collapsed && 'images/right_arrow2.png' || 'images/right_arrow.png'}}" />
                    </div>
                    <div class="captiondiv">
                        <label class="captionLabel">{{node.title}}</label>
                    </div>
                    <div class="iconsCourseNode">
                        <span>
                            <button data-ng-if="node.nodeType == 'folder'" ng-click="archiveFolder(this)"
                                    class="iconButtons fa fa-archive" tooltip="Move to Archive folder at bottom of screen" tooltip-placement="bottom"/>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" droppable="{{node.nodeType == 'test' && 'false' || 'true'}}">
            <li ng-repeat="node in node.nodes" collapsed="true" ui-tree-node ng-include="'tests_renderer.html'"
                draggable="{{(node.nodeType == 'empty' || node.nodeType == 'archiveRoot' || node.nodeType == 'archiveFolder' || node.nodeType == 'archiveTest') && 'false' || 'true'}}" />
        </ol>
    </script>

    <script type="text/ng-template" id="tests_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">

            <div data-ng-if="node.nodeType != 'test' && node.nodeType != 'archiveTest' && node.nodeType != 'archiveFolder'"
                 class="treeDiv"
                 ng-class="{treeNodeHover: hover}"
                 ng-mouseenter="treeNodeMouseEnter(this)"
                 ng-mouseleave="treeNodeMouseLeave(this)">
                <div class="maindiv" id={{node.guid}}>
                    <div class="imagediv">
                        <input type="image" data-ng-if="node.nodeType != 'empty'" ng-click="getFolders(this)" class="collapseImg"
                               ng-src="{{collapsed && 'images/right_arrow2.png' || 'images/right_arrow.png'}}" />
                    </div>
                    <div class="captiondiv">
                        <label ng-class="{captionEmptyNode : node.nodeType == 'empty'}">{{node.title}}</label>
                    </div>
                    <div class="iconsChapter">
                        <span>
                            <button data-ng-if="node.nodeType == 'folder'" ng-click="archiveFolder(this)"
                                    class="iconButtons fa fa-archive" />
                        </span>
                    </div>
                </div>
            </div>

            <div data-ng-if="node.nodeType == 'archiveFolder'" class="treeDiv">
                <div class="maindiv" id={{node.guid}}>
                    <div class="imagediv">
                        <input type="image" data-ng-if="node.nodeType != 'empty'" ng-click="getFolders(this)" class="collapseImg"
                               ng-src="{{collapsed && 'images/right_arrow2.png' || 'images/right_arrow.png'}}" />
                    </div>
                    <div class="captiondiv">
                        <label ng-class="{captionEmptyNode : node.nodeType == 'empty'}">{{node.title}}</label>
                    </div>
                    <div class="iconsChapter">
                        <span>
                            <button ng-click="deleteFolder(this)" class="removeIcon fa fa-trash-o" tooltip="Delete. Cannot be undone" tooltip-placement="bottom"/>
                            <button ng-click="restoreFolder(this)" class="restoreicon fa fa-undo" tooltip="Restore to main directory" tooltip-placement="bottom"/>
                        </span>
                    </div>
                </div>
            </div>

            <div data-ng-if="node.nodeType=='test'" class="treeDiv" ng-class="{testHighlightSelected: isActiveSelectedTest(node.guid)}">
                <div class="maindivTest" id={{node.guid}} ng-class="{testHighlight: node.selectTestNode}">
                    <div class="imagediv"></div>
                    <div class="testCaptionDiv">
                        <div ng-mousedown="selectTestNode(this);" id="testButtonDiv"
                             ng-class="{testHighlight: node.selectTestNode}" class="testInputbuttonClass">
                            {{node.title}} &nbsp;&nbsp;&nbsp;&nbsp; {{node.modified | date:'MM/dd/yy'}}
                        </div>
                    </div>
                    <div class="testimagesdiv" ng-class="{testHighlight: node.selectTestNode}">
                        <span ng-show="node.selectTestNode">
                            <button ng-disabled="node.disableEdit" ng-show="node.showEditIcon" id="editTestbtn"
                                    ng-click="editTest(this)" ng-class="{disableEditIcon: node.disableEdit}"
                                    class="foldertestediticon glyphicon glyphicon-pencil" tooltip="Open in right edit panel" tooltip-placement="bottom"/>
                            <button ng-click="archiveTest(this)" ng-show="node.showArchiveIcon" class="iconButtons fa fa-archive" tooltip="Move to Archive folder at bottom of screen" tooltip-placement="bottom"/>
                        </span>
                    </div>
                </div>
            </div>
            <div data-ng-if="node.nodeType=='archiveTest'" class="treeDiv" ng-class="{testHighlightSelected: isActiveSelectedTest(node.guid)}">
                <div ng-class="{testHighlight: node.selectTestNode}" class="maindivTest" id={{node.guid}}>
                    <div class="imagediv"></div>
                    <div class="testCaptionDiv">
                        <div ng-mousedown="selectTestNode(this);" id="testButtonDiv"
                             ng-class="{testHighlight: node.selectTestNode}" class="testInputbuttonClass">
                            {{node.title}} &nbsp;&nbsp;&nbsp;&nbsp; {{node.modified | date:'MM/dd/yy'}}
                        </div>
                    </div>
                    <div class="testimagesdiv" ng-class="{testHighlight: node.selectTestNode}">
                        <span ng-show="node.selectTestNode">
                            <button ng-click="deleteTest(this)" class="removeIcon fa fa-remove" tooltip="Delete. Cannot be undone" tooltip-placement="bottom"/>
                            <button ng-click="restoreTest(this)" class="restoreicon fa fa-arrow-up" tooltip="Restore to main directory" tooltip-placement="bottom"/>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <ol ui-tree-nodes="" type="1" ng-model="node.nodes" class="questIndex" ng-class="{hidden: collapsed}"
            droppable="{{(node.nodeType == 'empty' || node.nodeType == 'archiveFolder') && 'false' || 'true'}}">

            <li ng-repeat="node in node.nodes" collapsed="true" ui-tree-node ng-include="'tests_renderer.html'"
                draggable="{{(node.nodeType == 'empty' || node.nodeType == 'archiveFolder') && 'false' || 'true'}}" />
        </ol>
    </script>

    <script type="text/ng-template" id="x_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content questionList">
            {{node}}
        </div>
    </script>
</div>


